.header{
    /* background-color: #1E90FF; */
    background-image: linear-gradient(to right, #1E90FF,#66ffcc);
    height: 8rem;
    margin-bottom: 1rem;
}

.footer{
    background-image: linear-gradient(to right, #1E90FF,#66ffcc);
    margin-top: 1rem;
}

.headerText{
    margin-left: 1rem;
    margin-top: 2.5rem;
}
.footer{
    height: 6rem;
    padding-top: 1.5rem;
}
.headerText{
    color: white;
}
