.header{
    background-color: #1E90FF;
    height: 8rem;
    margin-bottom: 1rem;
}

.footer{
    background-color: #1E90FF;
    margin-top: 1rem;
}

.headerText{
    margin-left: 1rem;
    margin-top: 2.5rem;
}
.footer{
    height: 6rem;
    padding-top: 1.5rem;
}